.project-card-view {
    box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.459) !important;
    color: rgb(255, 255, 255) !important;
    background-color: transparent !important;
    opacity: 0.9 !important;
    transition: all 0.5s ease 0s !important;
    height: 100% !important;
    width: 300px !important;
}

.project-card-view:hover {
    transform: scale(1.02) !important;
    overflow: hidden !important;
    box-shadow: 0 4px 4px 5px rgba(206, 202, 142, 0.561) !important;
}

.cardimage {
    height: 200px !important;
}

.probutton {
    background-color: black !important;
}

.probutton:hover {
    background-color: rgb(46, 43, 43) !important;
}